Repository rango-exchange/explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

fix: add useistruncated hook and fix token name and amount size
  src/components/common/Table/cells/TokenCell.tsx
  src/hooks/useIsTruncated.ts
Due: eslint --fix --quiet, prettier --write

fix: comments
  src/components/common/Table/cells/TokenCell.tsx
  src/hooks/useIsTruncated.ts
Due: eslint --fix --quiet, prettier --write

fix: update broken links for sdk, api anchor texts
  src/components/common/Footer/Footer.constants.ts
Due: eslint --fix --quiet, prettier --write

fix: apply review comment
  src/app/search/page.tsx
Due: eslint --fix --quiet, prettier --write

fix: prioritize tx hash in search
  src/app/search/page.tsx
Due: eslint --fix --quiet, prettier --write

fix: remove token cell padding
  src/components/common/Table/cells/TokenCell.tsx
Due: eslint --fix --quiet, prettier --write

fix: aligning the size of the skeleton subtitle in the search page with the actual subtitle
  components/common/Table/TableLoading.tsx
Due: eslint --fix --quiet, prettier --write

fix: correct the alignment of the day tabs on the homepage for devices with smaller screens
  src/app/(home)/_components/ChartBox/index.tsx
Due: eslint --fix --quiet, prettier --write

fix: handle null values in the Recent Swaps amount column
  src/components/common/Table/cells/AmountCell.tsx
  src/components/common/Table/cells/TokenCell.tsx
Due: eslint --fix --quiet, prettier --write

chore: fetch the blockchain, dex and bridge counts from the api
  src/components/common/Footer/index.tsx
Due: eslint --fix --quiet, prettier --write

fix: dynamically adjust token name size on mobile
  src/components/common/Table/cells/TokenCell.tsx
Due: eslint --fix --quiet, prettier --write

fix: handle long names and numbers
  src/components/common/Table/cells/TokenCell.tsx
  src/hooks/useIsTruncated.ts
Due: eslint --fix --quiet, prettier --write

feat: add dapp action
  .github/workflows/production-dapp-p2-deployment.yml
Due: none

fix: add cookie setting to footer
  src/components/common/Footer/Footer.constants.ts
  src/components/common/Footer/Footer.type.ts
  src/components/common/Footer/ListItem.tsx
Due: eslint --fix --quiet, prettier --write

chore: add node 20 to engines in package.json
  package.json
Due: prettier --write

fix: disable prefetch for nextjs link
  src/app/search/_components/NotFound/index.tsx
  src/app/search/_components/Pagination/index.tsx
  src/app/statistics/_components/StatisticsPageContent/index.tsx
  src/app/swap/[id]/_components/SwapDetailSummary/SwapDetailAddress.tsx
  src/app/swap/[id]/_components/SwapDetailSummary/SwapDetailMobileToken.tsx
  src/app/swap/[id]/_components/SwapSteps/SwapStepAddress.tsx
  src/app/swap/[id]/_components/SwapSteps/TransactionURL.tsx
  src/app/swap/[id]/_components/SwapSteps/TransactionURLMobileItem.tsx
  src/app/swap/[id]/page.tsx
  src/components/common/Button/LinkButton.tsx
  src/components/common/Footer/ListItem.tsx
  src/components/common/Header/DesktopHeader.tsx
  src/components/common/Header/Menu.tsx
  src/components/common/Header/MobileHeader.tsx
  src/components/common/Header/MobileMenu.tsx
  src/components/common/Table/TableBody.tsx
  src/components/common/Table/TableLoading.tsx
  src/components/common/Table/cells/RequestIDCell.tsx
Due: eslint --fix --quiet, prettier --write

fix(deps): upgrade next.js and @next/third-parties to 14.2.35 for security patch
  package.json
  yarn.lock
Due: prettier --write

fix: stop index search and swaps
  src/app/robots.ts
  src/app/robots.txt
  src/app/search/page.tsx
  src/app/sitemap.ts
  src/app/swap/[id]/page.tsx
Due: eslint --fix --quiet, prettier --write

chore: bump node engine to 22.x
  package.json
Due: prettier --write

chore: bump node engine to 24.x
  package.json
Due: prettier --write

docs: update release flow in README
  README.md
Due: none

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json}
