Repository rango-exchange/explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

chore: fix prettier command in package.json
  package.json
Due: prettier --write

fix: add pagination to search result
  components/icons/FirstPage.tsx
  components/icons/LastPage.tsx
  components/icons/NextPage.tsx
  components/icons/PrevPage.tsx
  components/icons/index.ts
  components/search/Pagination/Pagination.type.ts
  components/search/Pagination/idnex.tsx
  components/search/Result/index.tsx
  constant/index.ts
  pages/search.tsx
  services/index.ts
  svgs/configs/.svgrrc.default.cjs
  svgs/resources/firstPage.svg
  svgs/resources/lastPage.svg
  svgs/resources/nextPage.svg
  svgs/resources/prevPage.svg
Due: eslint --fix --quiet, prettier --write

fix: minor ui changes and update meta
  components/common/IconStatus/IconStatus.helper.ts
  components/common/Table/cells/AmountCell.tsx
  components/detail/SwapSteps/TransactionURL.tsx
  components/home/Summary/Summary.type.ts
  components/home/Summary/SummaryItem.tsx
  components/home/Summary/index.tsx
  components/search/NotFound/index.tsx
  pages/_document.tsx
  pages/index.tsx
  public/favicon copy.png
  public/favicon.png
  public/manifest.json
  public/preview.jpg
Due: eslint --fix --quiet, prettier --write

fix: update api blockchain model
  components/common/Table/cells/TokenCell.tsx
  components/common/Table/index.tsx
  components/detail/SwapDetailSummary/SwapDetailChain.tsx
  components/detail/SwapDetailSummary/SwapDetailMobileToken.tsx
  components/detail/SwapDetailSummary/index.tsx
  components/detail/SwapSteps/SwapStepChainLogo.tsx
  components/detail/SwapSteps/SwapStepItemExpanded.tsx
  components/detail/SwapSteps/SwapStepSwapper.tsx
  types/transations.ts
Due: eslint --fix --quiet, prettier --write

fix: update scanner design
  components/common/ButtonCopyIcon/ButtonCopyIcon.type.ts
  components/common/ButtonCopyIcon/index.tsx
  components/common/Error/index.tsx
  components/common/Navbar/Menu.tsx
  components/common/RefreshButton/RefreshButton.type.ts
  components/common/RefreshButton/RefreshProgressButton.tsx
  components/common/RefreshButton/index.tsx
  components/common/Skeleton/Skeleton.types.ts
  components/common/Skeleton/index.tsx
  components/common/Table/TableLoading.tsx
  components/common/Table/cells/AmountCell.tsx
  components/common/Table/cells/RequestIDCell.tsx
  components/common/Table/cells/TokenCell.tsx
  components/common/Tooltip/index.tsx
  components/detail/SwapDetailSummary/SwapDetailAddress.tsx
  components/detail/SwapDetailSummary/SwapDetailChain.tsx
  components/detail/SwapDetailSummary/SwapDetailMobileToken.tsx
  components/detail/SwapDetailSummary/SwapDetailValue.tsx
  components/detail/SwapSteps/SwapStepAddress.tsx
  components/detail/SwapSteps/SwapStepChainLogo.tsx
  components/detail/SwapSteps/SwapStepItem.tsx
  components/detail/SwapSteps/SwapStepSwapper.tsx
  components/detail/SwapSteps/TransactionURL.tsx
  components/detail/SwapSteps/TransactionURLMobileItem.tsx
  components/home/ChartBox/Chart.tsx
  components/home/ChartBox/index.tsx
  constant/index.ts
  package.json
  pages/index.tsx
  pages/search.tsx
  pages/swap/[id]/index.tsx
  public/img/error.png
  services/index.ts
  tailwind.config.js
  yarn.lock
Due: eslint --fix --quiet, prettier --write

Update README.md
  README.md
Due: none

prepare explorer
  README.md
  components/common/SearchBox/index.tsx
  pages/_document.tsx
Due: eslint --fix --quiet, prettier --write

Styled navBar and inserted Defispot logos
  components/common/Footer/index.tsx
  components/common/Navbar/DesktopNavbar.tsx
  components/common/Navbar/MobileMenu.tsx
  components/common/Navbar/MobileNavbar.tsx
  components/common/Navbar/Navbar.helper.ts
  public/favicon.png
  public/favicon.svg
  public/img/arrow-up-right.svg
  public/img/logo.png
  public/img/rango.svg
  public/logo-with-text.svg
  public/logo.png
Due: eslint --fix --quiet, prettier --write

fix: chart tooltip width
  components/common/Layout/index.tsx
  styles/globals.css
Due: eslint --fix --quiet, prettier --write

fix: fix chart height issue on load
  components/home/ChartBox/Chart.tsx
  components/home/ChartBox/index.tsx
Due: eslint --fix --quiet, prettier --write

ci: add dapp deployment
  .github/workflows/production-dapp-deployment.yml
Due: none

ci: exclude dapp branch from preview ci
  .github/workflows/preview-deployment.yml
Due: none

fix: update api urls
  services/index.ts
Due: eslint --fix --quiet, prettier --write

ci: update envs
  .github/workflows/production-dapp-deployment.yml
Due: none

chore: clean up
  public/img/notFound.svg
  public/img/notfound.svg
Due: none

chore: clean up
  public/img/notfound.svg
Due: none

feat: add animation to transactions table rows
  components/common/Table/TableBody.tsx
Due: eslint --fix --quiet, prettier --write

feat: add transaction page
  components/common/Dropdown/Dropdown.types.ts
  components/common/Dropdown/index.tsx
  components/common/Navbar/Navbar.helper.ts
  components/transactions/Result/Result.type.ts
  components/transactions/Result/index.tsx
  hooks/useClickOutside.ts
  pages/transactions.tsx
  public/img/notFound.svg
  services/index.ts
Due: eslint --fix --quiet, prettier --write

fix: page title
  pages/transactions.tsx
Due: eslint --fix --quiet, prettier --write

chore: fix paginations & dropdown & remove percentage
  components/common/Dropdown/index.tsx
  components/common/Table/cells/AmountCell.tsx
  components/transactions/Loading/index.tsx
  components/transactions/Pagination/Pagination.type.ts
  components/transactions/Pagination/index.tsx
  components/transactions/Result/Result.type.ts
  components/transactions/Result/index.tsx
  pages/index.tsx
  pages/transactions.tsx
  services/index.ts
Due: eslint --fix --quiet, prettier --write

feat: add transactions page
  .github/workflows/production-dapp-deployment.yml
  components/common/Dropdown/Dropdown.types.ts
  components/common/Dropdown/index.tsx
  components/common/Navbar/Navbar.helper.ts
  components/common/Table/cells/AmountCell.tsx
  components/transactions/Loading/index.tsx
  components/transactions/Pagination/Pagination.type.ts
  components/transactions/Pagination/index.tsx
  components/transactions/Result/Result.type.ts
  components/transactions/Result/index.tsx
  hooks/useClickOutside.ts
  pages/index.tsx
  pages/transactions.tsx
  public/img/notFound.svg
  public/img/notfound.svg
  services/index.ts
Due: eslint --fix --quiet, prettier --write

fix: update not found icon
  public/img/notFound.svg
Due: none

ci: update actions
  .github/workflows/production-dapp-bw3-deployment.yml
  .github/workflows/production-dapp-tw-deployment.yml
Due: none

fix: fix bug of empty transactions
  components/transactions/Loading/index.tsx
  pages/transactions.tsx
Due: eslint --fix --quiet, prettier --write

chore: add design updates
  components/common/Footer/index.tsx
  components/common/SearchBox/SearchInput.tsx
  components/common/Table/Table.helper.ts
  components/common/Table/cells/StatusCell.tsx
  components/detail/SwapSteps/SwapStepChainAmount.tsx
  components/detail/SwapSteps/SwapStepItem.tsx
  components/detail/SwapSteps/SwapStepValue.tsx
  components/detail/SwapSteps/SwapSteps.type.ts
  components/home/ChartBox/Chart.tsx
  components/home/ChartBox/Chart.type.ts
  components/home/ChartBox/index.tsx
  public/img/notfound.svg
  services/index.ts
  tailwind.config.js
  types/transations.ts
Due: eslint --fix --quiet, prettier --write

ci: update envs
  .github/workflows/next-deployment.yml
  .github/workflows/preview-deployment.yml
  .github/workflows/production-deployment.yml
Due: none

ci: add dapp explorer action
  .github/workflows/production-dapp-tw2-deployment.yml
Due: none

feat: update ui changes
  components/common/Layout/Layout.type.ts
  components/common/Layout/index.tsx
  components/common/Navbar/DesktopNavbar.tsx
  components/common/Navbar/MobileMenu.tsx
  components/common/Navbar/MobileNavbar.tsx
  components/common/Navbar/Navbar.type.ts
  components/common/Navbar/index.tsx
  components/common/SearchBox/SearchInput.tsx
  components/common/SearchBox/SearchInput.type.ts
  components/common/Table/cells/StatusCell.tsx
  components/detail/SwapDetailSummary/SwapDetailAddress.tsx
  components/detail/SwapDetailSummary/SwapDetailMobileToken.tsx
  components/detail/SwapDetailSummary/SwapDetailMobileValue.tsx
  components/detail/SwapDetailSummary/SwapDetailValue.tsx
  components/detail/SwapSteps/SwapStepItemExpanded.tsx
  components/detail/SwapSteps/SwapStepValue.tsx
  components/detail/SwapSteps/SwapSteps.helper.ts
  components/home/ChartBox/Chart.helper.ts
  components/home/ChartBox/Chart.tsx
  components/home/ChartBox/index.tsx
  components/icons/Paste.tsx
  components/icons/index.ts
  pages/search.tsx
  pages/swap/[id]/index.tsx
  svgs/resources/paste.svg
Due: eslint --fix --quiet, prettier --write

feat: implement statistic page
  components/common/ButtonCopyIcon/index.tsx
  components/common/Navbar/Navbar.helper.ts
  components/common/Select/Select.types.ts
  components/common/Select/index.tsx
  components/common/SelectBlockchain/SelectBlockchainProps.types.ts
  components/common/SelectBlockchain/index.tsx
  components/detail/SwapSteps/TransactionURLMobileItem.tsx
  components/home/ChartBox/Chart.helper.ts
  components/home/ChartBox/Chart.tsx
  components/icons/Loading.tsx
  components/icons/index.ts
  components/statistics/ChartBarBox/BarChart.tsx
  components/statistics/ChartBarBox/ChartBarBox.helper.ts
  components/statistics/ChartBarBox/ChartBarBox.type.ts
  components/statistics/ChartBarBox/index.tsx
  components/statistics/TopList/TopList.helper.ts
  components/statistics/TopList/TopList.type.ts
  components/statistics/TopList/index.tsx
  constant/index.ts
  pages/statistics.tsx
  services/index.ts
  svgs/resources/loading.svg
  tailwind.config.js
  types/meta.ts
  types/summary.ts
  utils/amountConverter.ts
  utils/common.ts
  utils/copyText.ts
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json}
